#main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 2px solid black; */
    margin: 0px;
    height: 803px;
   
   background-color: rgb(226, 215, 215);
}
#firstChildDiv{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    justify-content:center;
    text-align: center;
    align-items: center;
    background-color: rgb(188, 217, 228);
    box-shadow: 1px 1px 5px 1px rgb(151, 147, 147);
    border-radius: 0px 10px 10px 0px;
}
#firstDiv{
    width: 200px;
    height: 550px;
    border: 1px solid black;
    background-color: rgb(235, 139, 13);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 1px 1px 5px 1px rgb(83, 82, 82);
}
#firstChildDiv:hover{
    /* background-color: rgb(253, 249, 249); */
}
#otpInput{
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
}
#submit{
    width: 80px;
    height:30px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: red;
    border: 0px;
    margin-bottom: 100px;
}
#submit:hover{
    
    /* color: green; */
    background-color: green;
    cursor: pointer;
    /* border: 0px; */
}
button{
    width: 170px;
    height: 30px;
}
button:hover{
    
    cursor:pointer;
}
h2{
    padding: 0%;
    margin: 10px;
    color: rgb(6, 6, 6);
}
#textt{
    padding-top: 50px;
    color: rgb(13, 242, 13);
    text-align:left;
}
h4{
    color: green;
}
#imgg{
    margin-top: 200px;
    mix-blend-mode:color-burn;
    width: 200px;
}
*{
    padding: 0px;
    margin: 0px;
}
