#main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    margin: 0px;
    height: 799px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Boat_Logo.webp/1200px-Boat_Logo.webp.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* background-size: cover; */
}
#firstChildDiv{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;
    justify-content:center;
    text-align: center;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px 1px rgb(151, 147, 147);
    border-radius: 20px;
}
#firstChildDiv:hover{
    background-color: grey;
}
#otpInput{
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
}
#submit{
    width: 80px;
    height:30px;
    margin-top: 5px;
    margin-bottom: 50px;
}
#submit:hover{
    width: 80px;
    height:30px;
    margin-top: 5px;
    margin-bottom: 50px;
    color: green;
    /* background-color: red; */
    border: 0px;
}
button{
    width: 170px;
}
button:hover{
    
    cursor:pointer;
}
h2{
    padding: 0%;
    margin: 0px;
    color: rgb(6, 6, 6);
}
h4{
    color: green;
}
*{
    padding: 0px;
    margin: 0px;
}
