* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* Main Product Page */
#main_div {
    width: 94%;
    margin: auto;
    padding: 40px 0px;
}

#functionality_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 10px;
}

#filter {
    padding: 10px 6px;
    background-color: #eff4f7;
    border: solid 2px #e2ebef;
    border-radius: 6px;
    outline: none;
}

#sort-by {
    padding: 10px 6px;
    background-color: #eff4f7;
    border: solid 2px #e2ebef;
    border-radius: 6px;
    outline: none;
}

#showProducts {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

/* Product Box Container CSS Started From Here */
.productDiv {
    width: 100%;
    display: flex;
    gap: 10px;
    border: solid 1px #ecf0f4;
    border-radius: 10px;
    padding: 5px 3px;
}
#ifOutOfStock{
    margin: auto;
    width: 80%;
}
.noProductAvl{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.leftSideDiv {
    width: 175px;
    height: 175px;
    display: inline-block;
    border-radius: 8px;
    position: relative;
}

.rightSideDiv {
    width: 65%;
    padding: 0px 0px 6px 0px;
}

/* Left Side Element - CSS  */
.productImage {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.keyline {
    left: 0%;
    top: 85%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    padding: 4px 0px;
    width: 100%;
    background-color: #fcc50b;
    border-radius: 0px 0px 8px 8px;
}

/* Right Side Element - CSS */
.ratingDiv {
    display: flex;
    gap: 4px;
    align-items: center;
}

.spanForIcon {
    font-size: 16px;
}

.ratingOfProduct {
    font-size: 12px;
    font-weight: 500;
}

.productName {
    font-size: 16px;
    font-weight: 700;
    padding-top: 4px;
}

.priceDetails {
    width: 100%;
    padding: 5px 0px;
}
.salePrice {
    font-size: 15px;
    font-weight: 700;
    display: inline;
    padding-right: 5px;
}
.normalPrice {
    display: inline;
    font-size: 12px;
    text-decoration: line-through;
    opacity: 0.65;
    font-weight: 600;
    padding-right: 5px;
}
.offerPercantage {
    display: inline;
    font-size: 10px;
    font-weight: 700;
    color: #12b985;

}
.featureDiv {
    width: 100%;
    padding: 0px 10px 10px 0px;
}
.horizontal-line {
    border: none;
    border-top: 1px solid rgba(192, 192, 192, 0.5);
}

.first-feature {
    display: inline;
    font-size: 10px;
    padding: 2px 6px;
    background: #eff4f7;
    border-radius: 10px;
    margin-right: 7px;
}

.second-feature {
    display: inline;
    font-size: 10px;
    padding: 2px 6px;
    background: #eff4f7;
    border-radius: 10px;
}

.buttonDiv {
    width: 100%;
    margin-top: 20px
}

.addToCartBtn {
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 0px;
    border-radius: 8px;
    border: none;
}

/* FAQ- Section */
#FAQ-div{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
#FAQ-div h2{
    color: #1A2024;
    font-size: 25px;
    font-weight: 400; 
    padding: 10px 0px;
}
.faqChildDiv{
    padding: 10px 0px;
}
.faq-question{
    color: #1A2024;
    opacity: 0.70;
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
}
.faqChildDiv > p{
    color: #1A2024;
    opacity: 0.70;
    font-size: 12px;
}
/* Blog Section */
#blog{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}
#blogTitle{
    color: #1A2024;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px 20px 0px;
}
#blogTitle span{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.blogChild{
    text-align: left;
}
.blogChild img{
    width: 100%;
    border-radius: 10px;
}
.blogChild a{
    text-decoration: none;
    text-transform: none;
}
.blogChild p:hover{
    color: red;
}
.blogChild p{
    font-size: 14px;
    color: #1A2024;
    font-weight: 400;
    padding-top: 5px;
    opacity: 0.80;
}
@media only screen and (max-width:1100px) {
    #showProducts {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:767px) {
    #showProducts {
        grid-template-columns: 1fr;
    }
    .rightSideDiv {
        width: 70%;
    }
}